<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap-core-incompatibile.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	>
	<testsuites>
		<testsuite name="albo-pretorio-pa-core-incompatibile">
			<file>./tests/CoreIncompatibileTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
